<h1>Editing Ticket Type</h1>

<%= render 'form', event: @event,ticket_type: @ticket_type %>

<%= link_to 'Show',event: @event, ticket_type: @ticket_type %> |
<%= link_to 'Back', event_ticket_type_path %>
