<h1>find me in orders.new.html.erb</h1>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <table class="table">
      <th> Ticket Type </th>
      <th> Unit Price </th>
      <th> Quantity </th>

      <% @event.ticket_types.each do |type| %>
        <% if (@order.user_id == current_user.id) %>
          <tr>
            <td> <%= type.name %> </td>
            <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
            <td> <%=  %></td>
          </tr>
        <% else %>
        <tr>
          <td>
              where's error?
          </td>

        </tr>
        <% end %>
      <% end %>
    </table>
  </div>
